export EMAIL={{ .email }}
export NAME={{ .name }}

export MANPAGER="bat --plain"

# General $PATH
export PATH="/usr/local/sbin:$PATH"
export PATH="$HOME/.bin:$PATH"

POSTGRES_BIN_DIR="/Applications/Postgres.app/Contents/Versions/latest/bin"
if [ -d "$POSTGRES_BIN_DIR" ]; then
  export PATH=${POSTGRES_BIN_DIR}:$PATH
else
  unset POSTGRES_BIN_DIR
fi

# Homebrew
{{ if eq .chezmoi.arch "arm64" }}
export HOMEBREW_PATH="/opt/homebrew"
export PATH="$HOMEBREW_PATH/sbin:$PATH"
export PATH="$HOMEBREW_PATH/bin:$PATH"
export PATH="$HOMEBREW_PATH/opt:$PATH"
{{ else }}
export PATH="/usr/local/opt:$PATH"
export HOMEBREW_PATH="/usr/local"
{{ end }}

# Nerd fonts
export NERD_FONT="FiraCode Nerd Font"

# go
export PATH="$HOME/go/bin:$PATH"

# Node and Deno
export DENO_INSTALL="$HOME/.deno";
export PATH="$DENO_INSTALL/bin:$PATH";

# PHP
# export PATH="$HOME/.composer/vendor/bin:$PATH"

# ZSH
export ZSCRIPTS="$HOME/.config/zsh"            # Just my personal shorthand
export ZSH="$HOME/.oh-my-zsh"
export UPDATE_ZSH_DAYS=13
export DISABLE_UPDATE_PROMPT="true"
export ENABLE_CORRECTION="false"
export COMPLETION_WAITING_DOTS="true"
export HISTFILE="$HOME/.zhistory"               # History filepath
export HISTSIZE=10000                           # Maximum events for internal history
export SAVEHIST=10000                           # Maximum events in history file


# zplug 
export ZPLUG_HOME=$HOMEBREW_PATH/opt/zplug

# editor
export EDITOR="nvim"
export VISUAL="code"